### Eclipse ###
.metadatos
papelera/
temporal/
*.tmp
*.bak
*.swp
*~.nib
propiedades locales
.ajustes/
.ruta de carga
.recomendadores
.settings/
bin/
.classpath
.project

# Constructores de herramientas externas
.constructoresdeherramientasexternas/

# "Configuraciones de lanzamiento de Eclipse" almacenadas localmente
*.lanzamiento

# Específico de PyDev (IDE de Python para Eclipse)
*.pydevproject

# Herramientas de desarrollo específicas de CDT (C/C++)
.cproyecto

# CDT-herramientas automáticas
.autotools

# Procesador de anotaciones de Java (APT)
.ruta de fábrica

# Herramientas de desarrollo específicas de PDT (PHP)
.ruta de construcción

# complemento sbteclipse
.objetivo

# Complemento Tern
proyecto .tern

# Complemento TeXlipse
.texlipse

# STS (conjunto de herramientas Spring)
.springBeans

# Recomendadores de código
.recomendadores/

# Procesamiento de anotaciones
.apt_generated/
.prueba_generada_apt/

# Específico de Scala IDE (desarrollo de Scala y Java para Eclipse)
.cache-principal
.scala_dependencies
.hoja de trabajo

### Código de Visual Studio ###
.vscode/*
!.vscode/configuraciones.json
!.vscode/tareas.json
!.vscode/launch.json
!.vscode/extensiones.json
!.vscode/*.fragmentos-de-código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio creadas
*.vsix

### Ventanas ###
# Archivos de caché de miniaturas de Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
*.stackdump

# Archivo de configuración de carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en recursos compartidos de archivos
$RECYCLE.BIN/

# Archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk

